.app-container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.sell-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sell-buttons div {
  margin-bottom: 10px;
}

.generate-report-button {
  margin-top: 20px;
}

.sales-summary {
  margin-top: 20px;
}

button {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  font-size: 14px;
}

/* Стилізація кнопок */
button[type='button-tech-with-service'] {
  background-color: lightblue;
}

button[type='button-tech-without-service'] {
  background-color: lightcoral;
}

button[type='button-service'] {
  background-color: lightgreen;
}
